
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    @if (TempData["msg"] != null)
    {

        <div class="alert alert-info">@TempData["msg"]</div>
    }
    <h4>You Are Login As</h4>
    <h5 class="text-success">@Session["Name"]</h5>
    <a href="/Login/Index" class="btn btn-danger">LOG OUT</a>

    <h2 class="text-center">EMPLOYEE DASHBOARD</h2>
    <a href="/Distribution/Index" class="btn btn-info">Request</a>
    <a href="/Restaurant/Index" class="btn btn-success">Restaurants Details</a>
    <a href="/Distributor/Index" class="btn btn-info">Distributors Details</a>
    <a href="/Delivary/See" class="btn btn-success">Delivary Details</a>
    <a href="/DistributionPlace/Index" class="btn btn-info">Distribution Place Details</a>
    <a href="/Status/Index" class="btn btn-success">Status Details</a>
</body>
</html>
